mixin diagram-temperature()
    .diagram-temperature
        .diagram-temperature__item #[span 14]
        .diagram-temperature__item #[span 14]
        .diagram-temperature__item #[span 14]
        .diagram-temperature__item #[span 12]
        .diagram-temperature__item #[span 11]
        .diagram-temperature__item #[span 13]
        .diagram-temperature__item #[span 14]
        .diagram-temperature__item #[span 14]

    .diagram-wrapper__time
        .diagram__time 17.00
        .diagram__time 20.00
        .diagram__time 23.00
        .diagram__time 2.00
        .diagram__time 5.00
        .diagram__time 8.00
        .diagram__time 11.00
        .diagram__time 14.00