.five-days {
    margin-top: 20px;
    // border: 1px solid $border;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 45px;
        height: 60px;
        display: block;
        background-image: url(../images/arrow.png);
        background-size: 60px;
        top: 148px;
        left: -41px;
        transform: rotate(180deg);
    }

    &:after {
        content: "";
        position: absolute;
        width: 45px;
        height: 60px;
        display: block;
        background-image: url(../images/arrow.png);
        background-size: 60px;
        top: 148px;
        right: -41px;
    }
    
    &-wrapper {
        // height: 652px;
        padding: 0 45px;
    }

    &__weather {
        display: flex;

        &__item {
            width: 100%;
            text-align: center;
            border: 1px solid $border;

            &:not(:first-of-type) {
                border-left: none;
            }

            &__date {
                padding: 11px 0;
            }

            &__card {
                border-top: 1px solid $border;
                display: flex;
                justify-content: space-around;
                padding-bottom: 25px;

                &-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 10px;

                    &:nth-child(1) {
                        .five-days__weather__item__card-item__degrees  {
                            background-color: $green;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        .five-days__weather__item__card-item__degrees  {
                            background-color: $yellow;
                        }
                    }

                    &:nth-child(3) {
                        .five-days__weather__item__card-item__degrees  {
                            background-color: $orange;
                        }
                    }


                    &__degrees {
                        border: 1px solid $border;
                        margin-top: 20px;
                    }
                }
            }
        }
        .next,
        .prev {
            display: none;
        }

        .tabs {
            display: none;
        }
    }
}

.wind-speed {
    display: flex;
    border-top: 1px solid $border;

    &__wrapper {
        border-left: 1px solid $border;
        border-right: 1px solid $border; 
    }
    
    &-title {
        text-align: center;
        background-color: $background-grey;
        padding: 11px 5px;
    }

    &__item {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px 0;

        &:not(:first-of-type) {
            border-left: 1px solid $border;
        }

        &__number {
            height: 18px;
            width: 26px;
            transform: skew(-42deg);
            background-color: $background-grey;
            position: relative;

            span {
                transform: skew(39deg);
                display: block;
                position: absolute;
                left: 9px;
            }
        }
    }
}
.precipitation {
    display: flex;
    border-top: 1px solid $border;
    height: 105px;

    &__wrapper {
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
    }


    &-title {
        border-top: 1px solid $border;
        text-align: center;
        background-color: $background-grey;
        padding: 11px 5px;
    }

    &__item {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: flex-end;
        position: relative;

        &:not(:first-of-type) {
            border-left: 1px solid $border;
        }

        &__number {

            &:nth-child(2) {

                img {
                    right: 102px;
                }
            }

            &:nth-child(3) {

                img {
                    right: 62px;
                }
            }

            &:nth-child(3) {

                img.pos-right {
                    right: 49px;
                } 
            }

            &:nth-child(4) {

                img {
                    right: 9px;
                }
            }
        }

        img {
            position: absolute;
            bottom: -1px;
            z-index: -1;
        }
    }
}
.sun-moon {
    margin-top: 13px;
    border: 1px solid $border;
    display: flex;
    background-color: $card-border;
    padding: 15px;
    flex-wrap: wrap;

    &__date {
        padding-right: 200px;
    }

}
.sun-moon-block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    flex-wrap: wrap;

    &__item {

        &__sun,
        &__moon {
            display: flex;
        }

        &__params {
            font-size: 18px;
            margin-left: 37px;

            p:not(:first-child) {
                margin-top: 37px;
            }
        }

        &__text {
            text-align: center;
            margin-top: 18px;
        }
    }
}

@media (max-width: 992px) {
    .five-days {

        &:before,
        &:after {
            display: none;
        }

        &__weather {
            flex-direction: column;
    
            &__item {
                display: none;
                position: relative;
                width: calc(100% - 60px);
                margin: 0 auto;

                &:not(:first-of-type) {
                    border-left: 1px solid $border;
                }
    
                &.active {
                    display: block;
                }
            }
            .next,
            .prev {
                display: block;
                position: absolute;
                width: 30px;
                height: 15px;
                top: 85px;
            }

            .prev {
                left: 0;
                transform: rotate(180deg);
            }

            .next {
                right: 0;
            }

            .tabs {
                display: block;
                text-align: center;
                margin-top: 5px;
            }
            .tab {
                width: 30px;
                height: 30px;
                border: 1px solid $border;
                display: inline-block;
                text-align: center;
                line-height: 30px;
            }
            .tabact {
                background-color: $background-grey;
            }
        }
    }
    .wind-speed {
                
        &__wrapper {
            margin-top: 5px;
        }

        &-title {
            border-top: 1px solid $border;
        }

        &__item {
            padding: 10px;
            flex-wrap: wrap;
        }
    }

    .precipitation {
        height: 100%;
        
        &__item {
            padding: 10px;
            flex-wrap: wrap;
        }

        img {
            display: none;
        }
    }

    .sun-moon {
        justify-content: space-between;

        &__date {
            padding-right: 0;
        }
    }

    .sun-moon-block {
    
        &__item {
            padding: 10px;

            img {
                width: 90px;
                height: 90px;
            }

            &__params {
                font-size: 16px;
                margin-left: 20px;
    
                p:not(:first-child) {
                    margin-top: 14px;
                }
            }
    
            &__text {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 544px) {
    .sun-moon {

        &__date,
        &__title {
            line-height: 23px;
        }

        &__date {
            padding-right: 20px;
        }
    }
}