.five-days {
    margin-top: 20px;
    border: 1px solid $border;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 45px;
        height: 60px;
        display: block;
        background-image: url(../images/arrow.png);
        background-size: 60px;
        top: 148px;
        left: -41px;
        transform: rotate(180deg);
    }

    &:after {
        content: "";
        position: absolute;
        width: 45px;
        height: 60px;
        display: block;
        background-image: url(../images/arrow.png);
        background-size: 60px;
        top: 148px;
        right: -41px;
    }
    
    &-wrapper {
        height: 632px;
        padding: 0 45px;
    }

    &__item {
        display: inline-block;
        width: 182px;

        &:not(:last-child) {
            border-right: 1px solid $border;
        }

        &:last-child {
            margin-right: -4px;
        }
    }
    &__date {
        padding: 11px 0;
    }

    &__card {
        border-top: 1px solid $border;
        padding-bottom: 22px;
        margin-left: -4px;
    }

    &__card-item {
        margin-top: 10px;
        display: inline-block;

        &:nth-child(1) {
            .five-days__card-degrees  {
                background-color: $green;
            }
        }

        &:nth-child(2),
        &:nth-child(4) {
            .five-days__card-degrees  {
                background-color: $yellow;
            }
        }

        &:nth-child(3) {
            .five-days__card-degrees  {
                background-color: $orange;
            }
        }

        & span {
            display: block;
        }
    }

    &__card-img {
        height: 44px;
        margin-top: 3px;
    }


    &__card-degrees {
        border: 1px solid $border;
        margin-top: 17px;
    }
}

.wind-speed {
    border-top: 1px solid $border;
    
    &-title {
        border-top: 1px solid $border;
        background-color: $background-grey;
        padding: 6px 0;
    }

    &__item {
        border-right: 1px solid $border;
        padding: 10px 0 6px;
        display: inline-block;
        width: 183px;

        &:last-child {
            border-right: none;
            margin-left: -2px;
        }
    }

    &__number {
        height: 18px;
        width: 26px;
        transform: skew(-42deg);
        background-color: $background-grey;
        position: relative;
        display: inline-block;
        margin-left: 13px;

        span {
            transform: skew(39deg);
            display: block;
            position: absolute;
            left: 9px;
        }
    }
}
.precipitation {
    border-top: 1px solid $border;

    &-title {
        border-top: 1px solid $border;
        background-color: $background-grey;
        padding: 6px 0;
    }

    &__item {
        border-right: 1px solid #aeaeae;
        position: relative;
        display: inline-block;
        width: 182px;
        padding-top: 85px;
        margin-right: 1px;

        &:last-child {
            border-right: none;
            margin-right: -2px;
        }
    }

    &__number {
        display: inline-block;
        width: 41px;

        img {
            position: absolute;
            bottom: -1px;
            z-index: -1;
        }

        &:nth-child(2) {

            img {
                right: 97px;
            }
        }

        &:nth-child(3) {

            img {
                right: 52px;
            }
        }

        &:nth-child(3) {

            img.pos-right {
                right: 51px;
            } 
        }

        &:nth-child(4) {

            img {
                right: 6px;
            }
        }
    }
}
.sun-moon {
    margin-top: 13px;
    border: 1px solid $border;
    background-color: $card-border;
    padding: 13px 0;

    &__date {
        padding-right: 200px;
        padding-left: 15px;
        display: inline-block;
    }

    &__title {
        display: inline-block;
    }

}
.sun-moon-block {
    margin-top: 22px;

    &__item {
        display: inline-block;
    }

    &__sun {
        margin-right: 59px;

        img {
            display: inline-block;
        }
    }

    &__params {
        font-size: 18px;
        margin-left: 37px;
        display: inline-block;
        text-align-last: left;

        li:not(:first-child) {
            margin-top: 37px;
        }
    }

    &__text {
        margin-top: 18px;
    }
}