.weather {
    // height: 652px;

    &-data {
        display: flex;
        padding: 50px 105px 0 50px;
        justify-content: space-between;

        &__degrees {

            ul {

                li {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            figure {
                display: flex;
                font-size: 40px;
                align-items: center;
                margin-top: 15px;

                img {
                    margin-right: 33px;
                }
            }
        }

        &__options {
            
            ul {

                &:nth-of-type(1) {
                    font-size: 32px;
                    line-height: 40px;
                }

                &:nth-of-type(2) {
                    display: flex;
                    flex-wrap: wrap;

					li {
						background-color: $button-light;
                        border: 1px solid $border;
                        max-width: 145px;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        cursor: pointer;
                        margin-top: 40px;

						&:hover,
						&:active {
							background-color: $button-grey;
						}

						a {
							color: $dark-grey;
                            display: inline-block;
                            padding: 15px;
                            text-align: center;
                        }
                        
                        &:nth-child(2) {
                            a {
                                padding: 7px 15px;
                            }
                        }
                    }
                    
                    li:not(:last-child) {
                        margin-right: 20px;
                    }

					.active {
						background-color: $button-grey;
					}
                }
            }
        }
    }

    .diagram {
        display: flex;
        padding: 0 20px;
        font-weight: bold;
        margin-top: 88px;

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        &__item {
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 123px;

            &-hour {
                background-color: $light-blue;
                border-top: 1px solid $blue;
                height: 55px;
                width: 100%;
                position: relative;

                span {
                    position: absolute;
                    top: -18px;
                    left: 7px;
                    color: $blue;
                }
            }
        }

        &__block {

            &:nth-child(1) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 55px;
                    }

                    &:nth-of-type(2) {
                        height: 27px;
                    }

                    &:nth-of-type(3) {
                        height: 15px;
                    }
                }
            }

            &:nth-child(2) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 25px;
                    }

                    &:nth-of-type(2) {
                        height: 30px;
                    }

                    &:nth-of-type(3) {
                        height: 45px;
                    }
                }
            }

            &:nth-child(3) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 41px;
                    }

                    &:nth-of-type(2) {
                        height: 27px;
                    }

                    &:nth-of-type(3) {
                        height: 12px;
                    }
                }
            }

            &:nth-child(4) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 11px;
                    }

                    &:nth-of-type(2) {
                        height: 11px;
                    }

                    &:nth-of-type(3) {
                        height: 16px;
                    }
                }
            }

            &:nth-child(5) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 11px;
                    }

                    &:nth-of-type(2) {
                        height: 10px;
                    }

                    &:nth-of-type(3) {
                        height: 9px;
                    }
                }
            }

            &:nth-child(6) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 8px;
                    }

                    &:nth-of-type(2) {
                        height: 10px;
                    }

                    &:nth-of-type(3) {
                        height: 8px;
                    }
                }
            }

            &:nth-child(7) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 0px;
                    }

                    &:nth-of-type(2) {
                        height: 0px;
                    }

                    &:nth-of-type(3) {
                        height: 2px;
                    }
                }
            }

            &:nth-child(8) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 2px;
                    }

                    &:nth-of-type(2) {
                        height: 3px;
                    }

                    &:nth-of-type(3) {
                        height: 7px;
                    }
                }
            }
        }

        &__time {
            margin-top: 35px;
            color: $light-grey;
        }
    }

    &-week {
        display: flex;
        padding: 0 20px;
        margin-top: 23px;
        font-weight: bold;

        &__item {
            width: 125px;
            height: 150px;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover,
            &:active{
                border: 1px solid $card-border;
                background-color: $background-card-light;
            }

            p {
                color: $light-grey;

                span {
                    color: $grey;
                }
            }
        }
        
        &__item.active {
            border: 1px solid $card-border;
            background-color: $background-card-light;
        }
    }
}


// диаграмма температура

.diagram-temperature {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
    font-weight: bold;

    &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 94%;
        bottom: 0;
        background-color: $dark-grey;
    }

    &__item {
        width: 20px;
        height: 40px;
        background-color: $light-grey;
        position: relative;

        span {
            position: absolute;
            top: -24px;
            left: 0;
            color: $dark-grey;
        }
    }

    &__item {

        &:nth-child(1) {
            height: 43px;
        }

        &:nth-child(2) {
            height: 43px;
        }

        &:nth-child(3) {
            height: 43px;
        }

        &:nth-child(4) {
            height: 37px;
        }

        &:nth-child(5) {
            height: 30px;
        }

        &:nth-child(6) {
            height: 40px;
        }

        &:nth-child(7) {
            height: 43px;
        }

        &:nth-child(8) {
            height: 43px;
        }
    }
}

.diagram-wrapper__time {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    font-weight: bold;
}

// диаграмма ветер

.diagram {

    &-wind {
        padding: 0 20px;
        margin-top: 60px;
        font-weight: bold;

        &__units {
            display: flex;
            justify-content: space-around;

            span {
                color: $dark-grey;
            }
        }

        &__direction {
            display: flex;
            justify-content: space-around;
            margin-top: 35px;

            img {

                &:nth-child(1) {
                    transform: rotate(318deg);
                }

                &:nth-child(2) {
                    transform: rotate(318deg);
                }

                &:nth-child(3) {
                    transform: rotate(345deg);
                }

                &:nth-child(4) {
                    transform: rotate(386deg);
                }

                &:nth-child(5) {
                    transform: rotate(386deg);
                }

                &:nth-child(6) {
                    transform: rotate(386deg);
                }

                &:nth-child(7) {
                    transform: rotate(386deg);
                }

                &:nth-child(8) {
                    transform: rotate(386deg);
                }

            }
        }

        &__time {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media (max-width: 992px) {
    .weather {
        .diagram__block:nth-child(1),
        .diagram__block:nth-child(2),
        .diagram__block:nth-child(3),
        .diagram__block:nth-child(4),
        .diagram__block:nth-child(5),
        .diagram__block:nth-child(6),
        .diagram__block:nth-child(7),
        .diagram__block:nth-child(8),
        .diagram__block:nth-child(9),
        .diagram__block:nth-child(10),
        .diagram__block:nth-child(11),
        .diagram__block:nth-child(12),
        .diagram__block:nth-child(13),
        .diagram__block:nth-child(14),
        .diagram__block:nth-child(15),
        .diagram__block:nth-child(16),
        .diagram__block:nth-child(17),
        .diagram__block:nth-child(18),
        .diagram__block:nth-child(19),
        .diagram__block:nth-child(20),
        .diagram__block:nth-child(21),
        .diagram__block:nth-child(22),
        .diagram__block:nth-child(23),
        .diagram__block:nth-child(24) {
            .diagram__item-hour:nth-of-type(1),
            .diagram__item-hour:nth-of-type(2),
            .diagram__item-hour:nth-of-type(3) {
                height: 0;
                border-top: none;
            }
        }
    }

    .weather {
    
        &-data {
            padding: 50px 80px 0 50px;

            &__degrees {

                ul {
    
                    li {
                        font-size: 29px;
                        line-height: 35px;
                    }
                }
            }

            &__options {
                
                ul {
    
                    &:nth-of-type(1) {
                        font-size: 29px;
                        line-height: 35px;
                    }
                }
            }
        }

        .diagram {
            margin-top: 60px;
        }

        .diagram__block {
            width: 100%;
        }

        .diagram__item {
            width: 0;

            &-hour span {
                left: -11px;
            }
        }

        .diagram__time {
            margin-top: 12px;
        }

        &-week {
        
            &__item {
                height: 125px;
            }
        }
    }
}

@media (max-width: 768px) {
    .weather {
    
        &-data {
            padding: 30px 30px 0 30px;
            flex-direction: column;

            &__degrees {
                display: flex;
                flex-wrap: wrap;

                ul {
                    margin-right: 15px;

                    li {
                        min-width: 210px;
                        font-size: 25px;
                        line-height: 30px;
                    }
                }

                figure {
                    font-size: 33px;

                    img {
                        width: 85px;
                        height: 70px;
                    }
                }
            }

            &__options {
                margin-top: 20px;

                ul {

                    &:nth-of-type(1) {
                        font-size: 25px;
                        line-height: 30px;
                    }
    
                    &:nth-of-type(2) {
                        
                        li {
                            margin-top: 20px;
                            height: 45px;

                            a {
                                font-size: 14px;
                                padding: 14px;
                            }
                        }

                        & li:nth-child(2) a {
                            padding: 6px 14px;
                        }
                    }
                }
            }
        }

        &-week {
        
            &__item {
                height: 88px;
                font-size: 14px;
            }
        }

        .diagram__time {
            font-size: 14px;
            margin-top: 20px;
            letter-spacing: -1px;
        }
    }

    .diagram-temperature {
        margin-top: 70px;

        &__item {

            span {
                font-size: 14px;
            }
        }
    }

    .diagram {

        &-wind {
            margin-top: 40px;
    
            &__units {
                font-size: 14px;
            }

            &__direction {
                margin-top: 23px;
                
                img {
                    width: 30px;
                    height: 20px;
                }
            }
        }
    }
}

@media (max-width: 544px) {
    .weather {
    
        &-data {
            padding: 20px 20px 0 20px;

            &__degrees {
            }

            &__options {

                ul {

                    &:nth-of-type(2){

                        li {
                            width: 100%;
                        }
                    }
                }
            }

            &__options {

                ul {
    
                    &:nth-of-type(2) {
                    }
                }
            }
        }

        &-week {
            flex-direction: column;
        
            &__item {
                height: 88px;
                flex-direction: row;
                width: 100%;
                font-size: 14px;
            }
        }
    }
}