.weather {

    &-data {
        display: flex;
        padding: 50px 105px 0 50px;
        justify-content: space-between;

        &__degrees {

            ul {

                li {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            figure {
                display: flex;
                font-size: 40px;
                align-items: center;
                margin-top: 15px;

                img {
                    margin-right: 33px;
                }
            }
        }

        &__options {
            
            ul {

                &:nth-of-type(1) {
                    font-size: 32px;
                    line-height: 40px;
                }

                &:nth-of-type(2) {
                    display: flex;
                    margin-top: 40px;

					li {
						background-color: $button-light;
                        border: 1px solid $border;
                        max-width: 145px;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        cursor: pointer;

						&:hover,
						&:active {
							background-color: $button-grey;
						}

						a {
							color: $dark-grey;
                            display: inline-block;
                            padding: 15px;
                            text-align: center;
                        }
                        
                        &:nth-child(2) {
                            a {
                                padding: 7px 15px;
                            }
                        }
                    }
                    
                    li:not(:last-child) {
                        margin-right: 20px;
                    }

					.active {
						background-color: $button-grey;
					}
                }
            }
        }
    }

    .diagram {
        display: flex;
        padding: 0 20px;
        font-weight: bold;
        margin-top: 70px;

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        &__item {
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 123px;

            &-hour {
                background-color: $light-blue;
                border-top: 1px solid $blue;
                height: 55px;
                width: 100%;
                position: relative;

                span {
                    position: absolute;
                    top: -18px;
                    left: 7px;
                    color: $blue;
                }
            }
        }

        &__block {

            &:nth-child(1) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 55px;
                    }

                    &:nth-of-type(2) {
                        height: 27px;
                    }

                    &:nth-of-type(3) {
                        height: 15px;
                    }
                }
            }

            &:nth-child(2) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 25px;
                    }

                    &:nth-of-type(2) {
                        height: 30px;
                    }

                    &:nth-of-type(3) {
                        height: 45px;
                    }
                }
            }

            &:nth-child(3) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 41px;
                    }

                    &:nth-of-type(2) {
                        height: 27px;
                    }

                    &:nth-of-type(3) {
                        height: 12px;
                    }
                }
            }

            &:nth-child(4) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 11px;
                    }

                    &:nth-of-type(2) {
                        height: 11px;
                    }

                    &:nth-of-type(3) {
                        height: 16px;
                    }
                }
            }

            &:nth-child(5) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 11px;
                    }

                    &:nth-of-type(2) {
                        height: 10px;
                    }

                    &:nth-of-type(3) {
                        height: 9px;
                    }
                }
            }

            &:nth-child(6) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 8px;
                    }

                    &:nth-of-type(2) {
                        height: 10px;
                    }

                    &:nth-of-type(3) {
                        height: 8px;
                    }
                }
            }

            &:nth-child(7) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 0px;
                    }

                    &:nth-of-type(2) {
                        height: 0px;
                    }

                    &:nth-of-type(3) {
                        height: 2px;
                    }
                }
            }

            &:nth-child(8) {

                .diagram__item-hour {

                    &:nth-of-type(1) {
                        height: 2px;
                    }

                    &:nth-of-type(2) {
                        height: 3px;
                    }

                    &:nth-of-type(3) {
                        height: 7px;
                    }
                }
            }
        }

        &__time {
            margin-top: 35px;
            color: $light-grey;
        }
    }

    &-week {
        display: flex;
        padding: 0 20px;
        margin-top: 23px;
        font-weight: bold;

        &__item {
            width: 125px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover,
            &:active{
                border: 1px solid $card-border;
                background-color: $background-card-light;
            }

            p {
                color: $light-grey;

                span {
                    color: $grey;
                }
            }
        }
        
        &__item.active {
            border: 1px solid $card-border;
            background-color: $background-card-light;
        }
    }
}


// диаграмма температура

.diagram-temperature {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;

    &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 94%;
        bottom: 0;
        background-color: $dark-grey;
    }

    &__item {
        width: 20px;
        height: 40px;
        background-color: $light-grey;
        position: relative;

        span {
            position: absolute;
            top: -24px;
            left: 0;
            color: $dark-grey;
        }
    }

    &__item {

        &:nth-child(1) {
            height: 43px;
        }

        &:nth-child(2) {
            height: 43px;
        }

        &:nth-child(3) {
            height: 43px;
        }

        &:nth-child(4) {
            height: 37px;
        }

        &:nth-child(5) {
            height: 30px;
        }

        &:nth-child(6) {
            height: 40px;
        }

        &:nth-child(7) {
            height: 43px;
        }

        &:nth-child(8) {
            height: 43px;
        }
    }
}

.diagram-wrapper__time {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

// диаграмма ветер

.diagram {

    &-wind {
        padding: 0 20px;
        margin-top: 35px;
        font-weight: bold;

        &__units {
            display: flex;
            justify-content: space-around;

            span {
                color: $dark-grey;
            }
        }

        &__direction {
            display: flex;
            justify-content: space-around;
            margin-top: 35px;

            img {

                &:nth-child(1) {
                    transform: rotate(318deg);
                }

                &:nth-child(2) {
                    transform: rotate(318deg);
                }

                &:nth-child(3) {
                    transform: rotate(345deg);
                }

                &:nth-child(4) {
                    transform: rotate(386deg);
                }

                &:nth-child(5) {
                    transform: rotate(386deg);
                }

                &:nth-child(6) {
                    transform: rotate(386deg);
                }

                &:nth-child(7) {
                    transform: rotate(386deg);
                }

                &:nth-child(8) {
                    transform: rotate(386deg);
                }

            }
        }

        &__time {
            display: flex;
            justify-content: space-around;
        }
    }
}
