$dark-grey: #555555;
$light-grey: #c6c6c6;
$grey: #8d8d8d;

$background-grey: #d8d8d8;
$background-light-grey: #f2f2f2;

$button-grey: #9b9b9b;
$button-light: #f7f7f7;

$border: #aeaeae;

$input-background: #e4e4e4;
$input-border: #dcdcdc;
$input-placeholder: #bebebe;

$background-card-light: #fcfcfc;
$card-border: #f1f1f1;

$light-blue: #e7f1fc;
$blue: #599bee;