// Normalize Styles
@import 'node_modules/normalize.css/normalize';
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

@import './colors';
// @import './bootstrap';

// Import Modules
@import '../_modules/header/header';
@import '../_modules/footer/footer';
@import '../_modules/weather/weather';
@import '../_modules/weather-history/weather-history';
@import '../_modules/5_days/5_days';
// @import '../_modules/icon/icon';
// @import '../_modules/youtube/youtube';

html,body{
  min-height: 100%;
  height: 100%;
}
.wrapper{
  // position: relative;
  // height: 100%;
  // min-height: 100%;
  // width: 100%;
  // padding-bottom: 80px;
}

.container {
  // min-height: 100%;
  width: 1025px;
  margin: auto;
  border: 1px solid $border;
  // position: relative;
  font-family: Arial, sans-serif;
}

img{
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
}

figure {
  margin: 0;
}