mixin header(spec)
	header.header 
		.header__top 
			ul
				li.active 
					a(href="./index.html") Сегодня 
				li 
					a(href="./5_days.html") 5 дней
				li 
					a(href="./weather_history.html") История погоды
		.header__bottom
			p Загрязнение воздуха: 8.16836305261858е-8
			form.ver-alignment
				input(type="search" id="search" placeholder="Поиск")
				label(for="search").ver-alignment &nbsp;