.header {

	&__menu {
		background-color: $background-grey;
		padding: 8px 23px;
		border-bottom: 1px solid $border;

		ul {
			word-spacing: -5px;

			li {
				background-color: $button-light;
				border: 1px solid $border;
				display: inline-block;
				word-spacing: normal;

				&:not(:last-child) {
					margin-right: 25px;
				}

				&:hover,
				&:active {
					background-color: $button-grey;
				}

				a {
					color: $dark-grey;
					padding: 0 15px;
					display: inline-block;
					height: 30px;
    			line-height: 29px;
				}
			}

			.active {
				background-color: $button-grey;
			}
		}
	}

	&__information {
		background-color: $background-light-grey;
		padding: 15px 20px 15px 10px;
		border-bottom: 1px solid $border;
		position: relative;

		p {
			color: $dark-grey;
		}

		form {
			position: absolute;
			right: 20px;
		}

		input[type="search"] {
			border: 1px solid $input-border;
			border-radius: 4px;
			background-color: $input-background;
			color: $dark-grey;
			outline: none;
			padding-left: 35px;
			height: 30px;
			width: 335px;
			
			& + label {
				position: absolute;

				&::before {
					content: "";
					display: block;
					background-image: url(../images/icon-search.png);
					background-repeat: no-repeat;
					background-size: 15px;
					width: 15px;
					height: 15px;
					background-position: 0px;
					position: absolute;
					top: 0px;
					margin-left: 11px;
				}
			}

			&::placeholder {
				color: $input-placeholder;
			}

			&:active,
			&:focus {
				background-color: $button-light;
			}
		}
	}
}