mixin header(spec)
	header.header 
		.header__top 
			ul
				li.active 
					a(href="#") Сегодня 
				li 
					a(href="#") 5 дней
				li 
					a(href="#") История погоды
		.header__bottom
			p Загрязнение воздуха: 8.16836305261858е-8
			input(type="search" placeholder="Поиск")