.header {

	&__nav {
		background-color: $background-grey;
		padding: 8px 23px;
		border-bottom: 1px solid $border;

		ul {
			display: flex;

			li {
				background-color: $button-light;
				border: 1px solid $border;

				&:hover,
				&:active {
					background-color: $button-grey;
				}

				a {
					color: $dark-grey;
					padding: 5px 15px;
					display: inline-block;
					font-size: 16px;
				}
			}

			li:not(:last-child) {
				margin-right: 23px;
			}

			li.active {
				background-color: $button-grey;
			}
		}
	}

	&__information {
		background-color: $background-light-grey;
		padding: 15px 20px 15px 10px;
		border-bottom: 1px solid $border;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		p {
			color: $dark-grey;
			font-size: 16px;
		}

		input[type="search"] {
			border: 1px solid $input-border;
			border-radius: 4px;
			background-color: $input-background;
			color: $dark-grey;
			padding-left: 35px;
			height: 30px;
			width: 335px;
			background-image: url(../images/icon-search.png);   
			background-repeat: no-repeat;   
			background-size: 15px;
			background-position: 10px;
			font-size: 16px;

			&::placeholder {
				color: $input-placeholder;
			}

			&:active,
			&:focus {
				background-color: $button-light;
			}
		}
	}
}

@media (max-width: 992px) {
	.header {

		&__nav {
			// padding: 12px 23px;
	
			ul {
	
				li {

					a {
						// padding: 6px 18px;
						// font-size: 18px;
					}
				}
			}
		}

		&__information {

			p {
				// font-size: 18px;
			}

			input[type="search"] {
				// font-size: 18px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {

		&__information {
			flex-direction: column;

			form {
				margin-top: 10px;
			}
		}
	}
}

@media (max-width: 544px) {
	.header {

		&__nav {
			padding-left: 12px;
			padding-right: 12px;
			padding-bottom: 0;
	
			ul {
				flex-wrap: wrap;

				li {
					margin-bottom: 8px;
					margin-right: 8px;

					a {
						padding: 6px 7px;
						font-size: 14px;
					}
				}

				li:not(:last-child) {
					// margin-bottom: 12px;
					margin-right: 12px;
				}
			}
		}

		&__information {
			padding: 15px 10px 15px 10px;

			input[type="search"] {
				width: 100%;
			}
		}
	}
}