mixin diagram-wind()
    .diagram-wind
        .diagram-wind__units
            span 7м/с
            span 5м/с
            span 5м/с
            span 5м/с
            span 6м/с
            span 6м/с
            span 6м/с
            span 5м/с
        .diagram-wind__direction
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
            img(src="/images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
        .diagram-wind__time
            .diagram__time 17.00
            .diagram__time 20.00
            .diagram__time 23.00
            .diagram__time 2.00
            .diagram__time 5.00
            .diagram__time 8.00
            .diagram__time 11.00
            .diagram__time 14.00