//- mixin diagram-precipitation()
//-     .diagram
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 24&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 17:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 30&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 20:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 24&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 23:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 8&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 2:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 4&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 5:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 6&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 8:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 0&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 11:00
//-         .diagram__block
//-             .diagram__item
//-                 .diagram__item-hour
//-                 .diagram__item-hour #[span 1&#37;]
//-                 .diagram__item-hour
//-             .diagram__time 14:00