.weather-history {
    padding-top: 80px;
    // height: 652px;
    font-size: 15px;
    color: $dark-grey;
    
    &__month,
    &__midmax,
    &__midmin,
    &__recmax,
    &__recmin {
        display: flex;

        &__item {
            text-align: center;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__month,
    &__midmin,
    &__recmin {

        &__item:nth-child(odd) {
                background-color: $background-weather-history;
        }    
    }


    &__midmax,
    &__recmax{

        &__item:nth-child(even) {
                background-color: $background-weather-history;
        }    
    }
}

@media (max-width: 992px) {
    .weather-history {
        display: flex;
        padding-top: 50px;
        padding-bottom: 32px;

        &__month,
        &__midmax,
        &__midmin,
        &__recmax,
        &__recmin {
            flex-direction: column;
            width: 100%;
        }
    }
}

@media (max-width: 544px) {
    .weather-history {
        font-size: 12px;
    }
}