extends _modules/layout/layout.pug

block page
    main.five-days-wrapper
        section.five-days
            .five-days__weather.hor-alignment
                .five-days__item
                    .five-days__date Пт, 20 мая
                    .five-days__card
                        .five-days__card-item
                            span Ночь
                            .five-days__card-img
                                img(src="./images/icon-cloudy.png", alt="icon-weather")
                            .five-days__card-degrees +8
                        .five-days__card-item
                            span Утро
                            .five-days__card-img
                                img(src="./images/icon-rain.png", alt="icon-weather")
                            .five-days__card-degrees +16
                        .five-days__card-item
                            span День
                            .five-days__card-img
                                img(src="./images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__card-degrees +21
                        .five-days__card-item
                            span Вечер
                            .five-days__card-img
                                img(src="./images/icon-sunny.png", alt="icon-weather")
                            .five-days__card-degrees +17
                .five-days__item
                    .five-days__date Пт, 20 мая
                    .five-days__card
                        .five-days__card-item
                            span Ночь
                            .five-days__card-img
                                img(src="./images/icon-cloudy.png", alt="icon-weather")
                            .five-days__card-degrees +8
                        .five-days__card-item
                            span Утро
                            .five-days__card-img
                                img(src="./images/icon-rain.png", alt="icon-weather")
                            .five-days__card-degrees +16
                        .five-days__card-item
                            span День
                            .five-days__card-img
                                img(src="./images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__card-degrees +21
                        .five-days__card-item
                            span Вечер
                            .five-days__card-img
                                img(src="./images/icon-sunny.png", alt="icon-weather")
                            .five-days__card-degrees +17
                .five-days__item
                    .five-days__date Пт, 20 мая
                    .five-days__card
                        .five-days__card-item
                            span Ночь
                            .five-days__card-img
                                img(src="./images/icon-cloudy.png", alt="icon-weather")
                            .five-days__card-degrees +8
                        .five-days__card-item
                            span Утро
                            .five-days__card-img
                                img(src="./images/icon-rain.png", alt="icon-weather")
                            .five-days__card-degrees +16
                        .five-days__card-item
                            span День
                            .five-days__card-img
                                img(src="./images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__card-degrees +21
                        .five-days__card-item
                            span Вечер
                            .five-days__card-img
                                img(src="./images/icon-sunny.png", alt="icon-weather")
                            .five-days__card-degrees +17
                .five-days__item
                    .five-days__date Пт, 20 мая
                    .five-days__card
                        .five-days__card-item
                            span Ночь
                            .five-days__card-img
                                img(src="./images/icon-cloudy.png", alt="icon-weather")
                            .five-days__card-degrees +8
                        .five-days__card-item
                            span Утро
                            .five-days__card-img
                                img(src="./images/icon-rain.png", alt="icon-weather")
                            .five-days__card-degrees +16
                        .five-days__card-item
                            span День
                            .five-days__card-img
                                img(src="./images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__card-degrees +21
                        .five-days__card-item
                            span Вечер
                            .five-days__card-img
                                img(src="./images/icon-sunny.png", alt="icon-weather")
                            .five-days__card-degrees +17
                .five-days__item
                    .five-days__date Пт, 21 мая
                    .five-days__card
                        .five-days__card-item
                            span Ночь
                            .five-days__card-img
                                img(src="./images/icon-cloudy.png", alt="icon-weather")
                            .five-days__card-degrees +8
                        .five-days__card-item
                            span Утро
                            .five-days__card-img
                                img(src="./images/icon-rain.png", alt="icon-weather")
                            .five-days__card-degrees +16
                        .five-days__card-item
                            span День
                            .five-days__card-img
                                img(src="./images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__card-degrees +21
                        .five-days__card-item
                            span Вечер
                            .five-days__card-img
                                img(src="./images/icon-sunny.png", alt="icon-weather")
                            .five-days__card-degrees +17
            .wind-speed-title.hor-alignment Максимальная скорость ветра, м/c
            .wind-speed
                .wind-speed__item
                    .wind-speed__number #[span 2]
                    .wind-speed__number #[span 5]
                    .wind-speed__number #[span 4]
                    .wind-speed__number #[span 5]
                .wind-speed__item
                    .wind-speed__number #[span 2]
                    .wind-speed__number #[span 5]
                    .wind-speed__number #[span 4]
                    .wind-speed__number #[span 5]
                .wind-speed__item
                    .wind-speed__number #[span 2]
                    .wind-speed__number #[span 5]
                    .wind-speed__number #[span 4]
                    .wind-speed__number #[span 5]
                .wind-speed__item
                    .wind-speed__number #[span 2]
                    .wind-speed__number #[span 5]
                    .wind-speed__number #[span 4]
                    .wind-speed__number #[span 5]
                .wind-speed__item
                    .wind-speed__number #[span 2]
                    .wind-speed__number #[span 5]
                    .wind-speed__number #[span 4]
                    .wind-speed__number #[span 5]
            .precipitation-title.hor-alignment Осадки, мм
            .precipitation.hor-alignment
                .precipitation__item
                    .precipitation__number 0
                    .precipitation__number 0
                    .precipitation__number 2.2
                        img(src="./images/wave.png", alt="icon")
                    .precipitation__number 4.6
                        img(src="./images/max-wave.png", alt="icon")
                .precipitation__item
                    .precipitation__number 0
                    .precipitation__number 0
                    .precipitation__number 4.5
                        img(src="./images/max-wave.png", alt="icon")
                    .precipitation__number 2.2
                        img(src="./images/wave.png", alt="icon")
                .precipitation__item
                    .precipitation__number 0
                    .precipitation__number 4.7
                        img(src="./images/max-wave.png", alt="icon")
                    .precipitation__number 2.2
                        img.pos-right(src="./images/wave.png", alt="icon")
                    .precipitation__number 0
                .precipitation__item
                    .precipitation__number 0
                    .precipitation__number 0
                    .precipitation__number 2.2
                        img(src="./images/wave.png", alt="icon")
                    .precipitation__number 4.6
                        img(src="./images/max-wave.png", alt="icon")
                .precipitation__item
                    .precipitation__number 0
                    .precipitation__number 0
                    .precipitation__number 2.2
                        img(src="./images/wave.png", alt="icon")
                    .precipitation__number 4.6
                        img(src="./images/max-wave.png", alt="icon")
        section.sun-moon
            .sun-moon__date Пятница, 18 мая, сегодня
            .sun-moon__title Солнце и луна
        section.sun-moon-block.hor-alignment
            .sun-moon-block__item
                .sun-moon-block__sun
                    img(src="./images/icon-sun.png", alt="icon-sun")
                    ul.sun-moon-block__params
                        li Долгота дня &ndash; 16ч 43мин
                        li Восход &ndash; 4:02
                        li Заход &ndash; 20:45
                p.sun-moon-block__text Сегодня день на 2 минуты длиннее, чем вчера
            .sun-moon-block__item
                .sun-moon-block__moon
                    img(src="./images/icon-moon.png", alt="icon-moon")
                    ul.sun-moon-block__params
                        li Луна растущая &ndash; 19&#37;
                        li Восход &ndash; 7:40
                        li Заход &ndash; 10:58
                p.sun-moon-block__text Полнолуние &ndash; 28 июня, через 23 дня