extends _modules/layout/layout.pug

block page
    main.five-days-wrapper
        section.five-days
            .five-days__weather.switch#fiveDaysContainer
                .five-days__weather__item.temperature-daytime.active
                    .five-days__weather__item__date Пт, 20 мая
                    .five-days__weather__item__card
                        .five-days__weather__item__card-item
                            span Ночь
                            img(src="/images/icon-cloudy.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +8
                        .five-days__weather__item__card-item
                            span Утро
                            img(src="/images/icon-rain.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +16
                        .five-days__weather__item__card-item
                            span День
                            img(src="/images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +21
                        .five-days__weather__item__card-item
                            span Вечер
                            img(src="/images/icon-sunny.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +17
                .five-days__weather__item.temperature-daytime
                    .five-days__weather__item__date Сб, 21 мая
                    .five-days__weather__item__card
                        .five-days__weather__item__card-item
                            span Ночь
                            img(src="/images/icon-cloudy.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +8
                        .five-days__weather__item__card-item
                            span Утро
                            img(src="/images/icon-rain.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +6
                        .five-days__weather__item__card-item
                            span День
                            img(src="/images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +2
                        .five-days__weather__item__card-item
                            span Вечер
                            img(src="/images/icon-sunny.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +4
                .five-days__weather__item.temperature-daytime
                    .five-days__weather__item__date Вс, 22 мая
                    .five-days__weather__item__card
                        .five-days__weather__item__card-item
                            span Ночь
                            img(src="/images/icon-cloudy.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +8
                        .five-days__weather__item__card-item
                            span Утро
                            img(src="/images/icon-rain.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +16
                        .five-days__weather__item__card-item
                            span День
                            img(src="/images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +21
                        .five-days__weather__item__card-item
                            span Вечер
                            img(src="/images/icon-sunny.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +22
                .five-days__weather__item.temperature-daytime
                    .five-days__weather__item__date Пн, 23 мая
                    .five-days__weather__item__card
                        .five-days__weather__item__card-item
                            span Ночь
                            img(src="/images/icon-cloudy.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +20
                        .five-days__weather__item__card-item
                            span Утро
                            img(src="/images/icon-rain.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +19
                        .five-days__weather__item__card-item
                            span День
                            img(src="/images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +22
                        .five-days__weather__item__card-item
                            span Вечер
                            img(src="/images/icon-sunny.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +17
                .five-days__weather__item.temperature-daytime
                    .five-days__weather__item__date Вт, 24 мая
                    .five-days__weather__item__card
                        .five-days__weather__item__card-item
                            span Ночь
                            img(src="/images/icon-cloudy.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +18
                        .five-days__weather__item__card-item
                            span Утро
                            img(src="/images/icon-rain.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +16
                        .five-days__weather__item__card-item
                            span День
                            img(src="/images/icon-rain-wind.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +21
                        .five-days__weather__item__card-item
                            span Вечер
                            img(src="/images/icon-sunny.png", alt="icon-weather")
                            .five-days__weather__item__card-item__degrees +15
                img(src="../images/arrow.png", alt="").prev
                img(src="../images/arrow.png", alt="").next
                .tabs
                    .tab.tabact(data-id="1") Пт
                    .tab(data-id="2") Сб
                    .tab(data-id="3") Вс
                    .tab(data-id="4") Пн
                    .tab(data-id="5") Вт
            .wind-speed__wrapper
                .wind-speed-title Максимальная скорость ветра, м/c
                .wind-speed
                    .wind-speed__item
                        .wind-speed__item__number #[span 2]
                        .wind-speed__item__number #[span 5]
                        .wind-speed__item__number #[span 4]
                        .wind-speed__item__number #[span 5]
                    .wind-speed__item
                        .wind-speed__item__number #[span 2]
                        .wind-speed__item__number #[span 5]
                        .wind-speed__item__number #[span 4]
                        .wind-speed__item__number #[span 5]
                    .wind-speed__item
                        .wind-speed__item__number #[span 2]
                        .wind-speed__item__number #[span 5]
                        .wind-speed__item__number #[span 4]
                        .wind-speed__item__number #[span 5]
                    .wind-speed__item
                        .wind-speed__item__number #[span 2]
                        .wind-speed__item__number #[span 5]
                        .wind-speed__item__number #[span 4]
                        .wind-speed__item__number #[span 5]
                    .wind-speed__item
                        .wind-speed__item__number #[span 2]
                        .wind-speed__item__number #[span 5]
                        .wind-speed__item__number #[span 4]
                        .wind-speed__item__number #[span 5]
            .precipitation__wrapper
                .precipitation-title Осадки, мм
                .precipitation
                    .precipitation__item
                        .precipitation__item__number 0
                        .precipitation__item__number 0
                        .precipitation__item__number 2.2
                            img(src="/images/wave.png", alt="icon")
                        .precipitation__item__number 4.6
                            img(src="/images/max-wave.png", alt="icon")
                    .precipitation__item
                        .precipitation__item__number 0
                        .precipitation__item__number 0
                        .precipitation__item__number 4.5
                            img(src="/images/max-wave.png", alt="icon")
                        .precipitation__item__number 2.2
                            img(src="/images/wave.png", alt="icon")
                    .precipitation__item
                        .precipitation__item__number 0
                        .precipitation__item__number 4.7
                            img(src="/images/max-wave.png", alt="icon")
                        .precipitation__item__number 2.2
                            img.pos-right(src="/images/wave.png", alt="icon")
                        .precipitation__item__number 0
                    .precipitation__item
                        .precipitation__item__number 0
                        .precipitation__item__number 0
                        .precipitation__item__number 2.2
                            img(src="/images/wave.png", alt="icon")
                        .precipitation__item__number 4.6
                            img(src="/images/max-wave.png", alt="icon")
                    .precipitation__item
                        .precipitation__item__number 0
                        .precipitation__item__number 0
                        .precipitation__item__number 2.2
                            img(src="/images/wave.png", alt="icon")
                        .precipitation__item__number 4.6
                            img(src="/images/max-wave.png", alt="icon")
        section.sun-moon
            .sun-moon__date Пятница, 18 мая, сегодня
            .sun-moon__title Солнце и луна
        section.sun-moon-block
            .sun-moon-block__item
                .sun-moon-block__item__sun
                    img(src="/images/icon-sun.png", alt="icon-sun")
                    .sun-moon-block__item__params
                        p Долгота дня &ndash; 16ч 43мин
                        p Восход &ndash; 4:02
                        p Заход &ndash; 20:45
                .sun-moon-block__item__text Сегодня день на 2 минуты длиннее, чем вчера
            .sun-moon-block__item
                .sun-moon-block__item__moon
                    img(src="/images/icon-moon.png", alt="icon-moon")
                    .sun-moon-block__item__params
                        p Луна растущая &ndash; 19&#37;
                        p Восход &ndash; 7:40
                        p Заход &ndash; 10:58
                .sun-moon-block__item__text Полнолуние &ndash; 28 июня, через 23 дня