extends _modules/layout/layout.pug

block page
	.weather
		.weather-data
			.weather-data__degrees
				ul
					li #[a(href="../temperature.html") Температура]
					li #[a(href="../precipitation.html") Вероятность осадков]
					li #[a(href="../wind.html") Ветер]
				