extends _modules/layout/layout.pug

block page
	main.weather#weatherTabs
		section.weather-data
			.weather-data__degrees
				ul
					li Ижевск, Россия
					li среда
					li облачно
				figure
					img(src="./images/sunny-weather.png" alt="icon-image")
					figcaption 22&deg;С
			.weather-data__options
				ul
					li Вероятность осадков: 20&#37;
					li Влажность: 45&#37;
					li Ветер: 11км/ч
				ul
					li
						a(href="#" data-id2="1").knob Температура
					li
						a(href="#" data-id2="2").knob Вероятность осадков
					li
						a(href="#" data-id2="3").knob.active  Ветер


		.diagram-wrapper
			.diagram-wind
				.diagram-wind__units
					span 7м/с
					span 5м/с
					span 5м/с
					span 5м/с
					span 6м/с
					span 6м/с
					span 6м/с
					span 5м/с
				.diagram-wind__direction
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
					img(src="./images/wind_unselected.png", alt="icon-direction" width="40px" height="30px")
				.diagram-wind__time
					.diagram__time 17:00
					.diagram__time 20:00
					.diagram__time 23:00
					.diagram__time 2:00
					.diagram__time 5:00
					.diagram__time 8:00
					.diagram__time 11:00
					.diagram__time 14:00
		.diagram-wrapper
			.diagram-temperature
				.diagram-temperature__item #[span 14]
				.diagram-temperature__item #[span 14]
				.diagram-temperature__item #[span 14]
				.diagram-temperature__item #[span 12]
				.diagram-temperature__item #[span 11]
				.diagram-temperature__item #[span 13]
				.diagram-temperature__item #[span 14]
				.diagram-temperature__item #[span 14]

			.diagram-wrapper__time
				.diagram__time 17:00
				.diagram__time 20:00
				.diagram__time 23:00
				.diagram__time 2:00
				.diagram__time 5:00
				.diagram__time 8:00
				.diagram__time 11:00
				.diagram__time 14:00
		.diagram-wrapper.active
			.diagram
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 24&#37;]
						.diagram__item-hour
					.diagram__time 17:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 30&#37;]
						.diagram__item-hour
					.diagram__time 20:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 24&#37;]
						.diagram__item-hour
					.diagram__time 23:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 8&#37;]
						.diagram__item-hour
					.diagram__time 2:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 4&#37;]
						.diagram__item-hour
					.diagram__time 5:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 6&#37;]
						.diagram__item-hour
					.diagram__time 8:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 0&#37;]
						.diagram__item-hour
					.diagram__time 11:00
				.diagram__block
					.diagram__item
						.diagram__item-hour
						.diagram__item-hour #[span 1&#37;]
						.diagram__item-hour
					.diagram__time 14:00

		section.weather-week
			.weather-week__item.active
				p ср
				img(src="./images/thunderstorms.png", alt="icon-weather" width="48px" height="48px")
				p #[span 22&deg;] 13&deg;
			.weather-week__item
				p чт
				img(src="./images/rain_s_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 21&deg;] 11&deg;
			.weather-week__item
				p пт
				img(src="./images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 24&deg;] 12&deg;
			.weather-week__item
				p сб
				img(src="./images/thunderstorms.png", alt="icon-weather" width="48px" height="48px")
				p #[span 26&deg;] 13&deg;
			.weather-week__item
				p вс
				img(src="./images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 27&deg;] 14&deg;
			.weather-week__item
				p пн
				img(src="./images/rain_s_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;
			.weather-week__item
				p вт
				img(src="./images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;
			.weather-week__item
				p ср
				img(src="./images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;