extends _modules/layout/layout.pug

block page
    .containerr#fiveDaysContainer
        .block.active.temperature-daytime 1
        .block.temperature-daytime 2
        .block.temperature-daytime 3
        .block.temperature-daytime 4
        .block.temperature-daytime 5
        .prev
        .next
        .tabs
            .tab.activeTab
            .tab
            .tab
            .tab
            .tab
    