extends _modules/layout/layout.pug

block page
	.weather
		.weather-data
			.weather-data__degrees
				ul
					li Ижевск, Россия
					li среда
					li облачно
				figure
					img(src="/images/sunny-weather.png" alt="icon-image")
					figcaption 22&deg;С
			.weather-data__options
				ul
					li Вероятность осадков: 20&#37;
					li Влажность: 45&#37;
					li Ветер: 11км/ч
				ul
					li 
						a(href="../temperature.html") Температура
					li.active 
						a(href="../precipitation.html") Вероятность осадков
					li 
						a(href="../wind.html") Ветер

		//- +diagram-temperature()

		//- +diagram-wind()

		+diagram-precipitation()

		.weather-week
			.weather-week__item.active
				p ср
				img(src="/images/thunderstorms.png", alt="icon-weather" width="48px" height="48px")
				p #[span 22&deg;] 13&deg;
			.weather-week__item
				p чт
				img(src="/images/rain_s_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 21&deg;] 11&deg;
			.weather-week__item
				p пт
				img(src="/images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 24&deg;] 12&deg;
			.weather-week__item
				p сб
				img(src="/images/thunderstorms.png", alt="icon-weather" width="48px" height="48px")
				p #[span 26&deg;] 13&deg;
			.weather-week__item
				p вс
				img(src="/images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 27&deg;] 14&deg;
			.weather-week__item
				p пн
				img(src="/images/rain_s_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;
			.weather-week__item
				p вт
				img(src="/images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;
			.weather-week__item
				p ср
				img(src="/images/partly_cloudy.png", alt="icon-weather" width="48px" height="48px")
				p #[span 28&deg;] 14&deg;