extends _modules/layout/layout.pug

block page
    .weather-history
        .weather-history__month
            .weather-history__month-item
            .weather-history__month-item Январь
            .weather-history__month-item Февраль
            .weather-history__month-item Март
            .weather-history__month-item Апрель
            .weather-history__month-item Май
            .weather-history__month-item Июнь
            .weather-history__month-item Июль
            .weather-history__month-item Август
            .weather-history__month-item Сентябрь
            .weather-history__month-item Октябрь
            .weather-history__month-item Ноябрь
            .weather-history__month-item Декабрь
        .weather-history__midmax
            .weather-history__midmax-item Средний максимум
            .weather-history__midmax-item -9&deg;
            .weather-history__midmax-item -8&deg;
            .weather-history__midmax-item -1&deg;
            .weather-history__midmax-item 7&deg;
            .weather-history__midmax-item 18&deg;
            .weather-history__midmax-item 23&deg;
            .weather-history__midmax-item 25&deg;
            .weather-history__midmax-item 22&deg;
            .weather-history__midmax-item 15&deg;
            .weather-history__midmax-item 7&deg;
            .weather-history__midmax-item -2&deg;
            .weather-history__midmax-item -7&deg;
        .weather-history__midmin
            .weather-history__midmin-item Средний минимум
            .weather-history__midmin-item -16&deg;
            .weather-history__midmin-item -15&deg;
            .weather-history__midmin-item -9&deg;
            .weather-history__midmin-item -1&deg;
            .weather-history__midmin-item 7&deg;
            .weather-history__midmin-item 12&deg;
            .weather-history__midmin-item 14&deg;
            .weather-history__midmin-item 12&deg;
            .weather-history__midmin-item 7&deg;
            .weather-history__midmin-item 0&deg;
            .weather-history__midmin-item -7&deg;
            .weather-history__midmin-item -12&deg;
        .weather-history__recmax
            .weather-history__recmax-item Рекордный максимум
            .weather-history__recmax-item 3&deg;
            .weather-history__recmax-item 3&deg;
            .weather-history__recmax-item 9&deg;
            .weather-history__recmax-item 24&deg;
            .weather-history__recmax-item 30&deg;
            .weather-history__recmax-item 36&deg;
            .weather-history__recmax-item 38&deg;
            .weather-history__recmax-item 37&deg;
            .weather-history__recmax-item 30&deg;
            .weather-history__recmax-item 22&deg;
            .weather-history__recmax-item 12&deg;
            .weather-history__recmax-item 4&deg;
        .weather-history__recmin
            .weather-history__recmin-item Рекордный минимум
            .weather-history__recmin-item -39&deg;
            .weather-history__recmin-item -39&deg;
            .weather-history__recmin-item -30&deg;
            .weather-history__recmin-item -22&deg;
            .weather-history__recmin-item -7&deg;
            .weather-history__recmin-item 0&deg;
            .weather-history__recmin-item 4&deg;
            .weather-history__recmin-item 1&deg;
            .weather-history__recmin-item -4&deg;
            .weather-history__recmin-item -21&deg;
            .weather-history__recmin-item -29&deg;
            .weather-history__recmin-item -40&deg;