extends _modules/layout/layout.pug

block page
    .weather-history
        .weather-history__month
            .weather-history__month__item
            .weather-history__month__item Январь
            .weather-history__month__item Февраль
            .weather-history__month__item Март
            .weather-history__month__item Апрель
            .weather-history__month__item Май
            .weather-history__month__item Июнь
            .weather-history__month__item Июль
            .weather-history__month__item Август
            .weather-history__month__item Сентябрь
            .weather-history__month__item Октябрь
            .weather-history__month__item Ноябрь
            .weather-history__month__item Декабрь
        .weather-history__midmax
            .weather-history__midmax__item Средний максимум
            .weather-history__midmax__item -9&deg;
            .weather-history__midmax__item -8&deg;
            .weather-history__midmax__item -1&deg;
            .weather-history__midmax__item 7&deg;
            .weather-history__midmax__item 18&deg;
            .weather-history__midmax__item 23&deg;
            .weather-history__midmax__item 25&deg;
            .weather-history__midmax__item 22&deg;
            .weather-history__midmax__item 15&deg;
            .weather-history__midmax__item 7&deg;
            .weather-history__midmax__item -2&deg;
            .weather-history__midmax__item -7&deg;
        .weather-history__midmin
            .weather-history__midmin__item Средний минимум
            .weather-history__midmin__item -16&deg;
            .weather-history__midmin__item -15&deg;
            .weather-history__midmin__item -9&deg;
            .weather-history__midmin__item -1&deg;
            .weather-history__midmin__item 7&deg;
            .weather-history__midmin__item 12&deg;
            .weather-history__midmin__item 14&deg;
            .weather-history__midmin__item 12&deg;
            .weather-history__midmin__item 7&deg;
            .weather-history__midmin__item 0&deg;
            .weather-history__midmin__item -7&deg;
            .weather-history__midmin__item -12&deg;
        .weather-history__recmax
            .weather-history__recmax__item Рекордный максимум
            .weather-history__recmax__item 3&deg;
            .weather-history__recmax__item 3&deg;
            .weather-history__recmax__item 9&deg;
            .weather-history__recmax__item 24&deg;
            .weather-history__recmax__item 30&deg;
            .weather-history__recmax__item 36&deg;
            .weather-history__recmax__item 38&deg;
            .weather-history__recmax__item 37&deg;
            .weather-history__recmax__item 30&deg;
            .weather-history__recmax__item 22&deg;
            .weather-history__recmax__item 12&deg;
            .weather-history__recmax__item 4&deg;
        .weather-history__recmin
            .weather-history__recmin__item Рекордный минимум
            .weather-history__recmin__item -39&deg;
            .weather-history__recmin__item -39&deg;
            .weather-history__recmin__item -30&deg;
            .weather-history__recmin__item -22&deg;
            .weather-history__recmin__item -7&deg;
            .weather-history__recmin__item 0&deg;
            .weather-history__recmin__item 4&deg;
            .weather-history__recmin__item 1&deg;
            .weather-history__recmin__item -4&deg;
            .weather-history__recmin__item -21&deg;
            .weather-history__recmin__item -29&deg;
            .weather-history__recmin__item -40&deg;